* {
  margin: 0;
  padding: 0;
  
}

body {
  overflow: hidden;
}

#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#background-music {
  position: fixed;
  top: 10px;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  margin-left: 20px;
}


.App {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 10px;
  color: white;
  width: 100%;
  height: 100%;
}

.App.background-video #background-image.loaded {
  opacity: 1; /* Hiển thị hình ảnh khi đã tải xong */
  
}


/* Ví dụ sử dụng media query cho màn hình lớn hơn 768px */
@media (min-width: 768px) {
  /* CSS cho màn hình lớn hơn 768px */

}

/* Ví dụ sử dụng media query cho màn hình nhỏ hơn hoặc bằng 768px */
@media (max-width: 768px) {
  /* CSS cho màn hình nhỏ hơn hoặc bằng 768px */
  .button1 {
    display: none;
  }.button {
    display: none;
  }
  
  
}
